
*{
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

/*  main html  */

.addKP {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    text-align: center;
    width: 250px;
    padding-bottom: 40%;
    border-right: 1px solid gray;
    position: fixed;
}

.chart-container , #wykres {
    height:45vh;
    width:45vw;
    margin: auto;
}


#selectCol1>p {
    margin: auto;
    text-align: center;
}

/* dodawanie p i k */

.quantity {
    clear: both;
    width: 180px;
    text-align: center;
}

#k,#p, .quantity-up {
    margin-left: 30%;
    margin-top: 10px;
}
.quantity-down {
    margin-bottom: -10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity>input {
    color: #00d1b2;
    width: 60px;
    height: 42px;
    line-height: 1.65;
    float: left;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: 1px solid #eee;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.submit{
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 222px;
    height: 50px;
    display: inline;
    text-align: center;
    background-color: #00d1b2;
    color: #fefefe;
    font-size: 16px;
    line-height: 2;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}

/* wybor kolum do wyswietlenia*/

.opinion-scale ul {
    list-style: none;
    display: table;
    width: 40%;
    table-layout: fixed;
    margin: auto;
    margin-bottom: 0.5em;
}
.opinion-scale li {
    display: table-cell;
    width: 2%;
    word-break: break-word;
}
.opinion-scale li input[type="radio"] {
    display: none;
}
.opinion-scale li input[type="radio"]:checked + label {
    background-color: #00d1b2;
    color: whitesmoke;
    border-color: #00d1b2;
}
.opinion-scale li label {
    background-color: white;
    color: #00d1b2;
    border: 1px solid whitesmoke;
    text-align: center;
    line-height: 1em;
    position: relative;
    display:table;
    width: 100%;
}
.opinion-scale .opinion-labels {
    margin-bottom: 0;
}
.opinion-scale .opinion-label label {
    color: #363636;
}
.opinion-scale .opinion-label.min {
    text-align: left;
}
.opinion-scale .opinion-label.mid {
    text-align: center;
}
.opinion-scale .opinion-label.max {
    text-align: right;
}

.is-large {
    font-size: 2em;
    width: 2%;
}


/*  zad3 html  */

#inputs {
    
    text-align: center;
}

#sub, #test {
    margin-top: 10px;
}

#inputs>#splitInput {
    width: 200px;
    height: 42px;
    margin: auto;
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 15px;
}

#dataText {
    margin-bottom: auto;
    margin-top: 14px;
    text-align: center;
    
    display: flex;
}

#dataText>p {
    height: 10px;
    padding: 0;
    margin: 0;
}

#komunikat {
    text-align: center;
    margin: 14px;
    color: green;
    font-size: 18px;
}
/* dla k i p z zad 3 */
#k_zad3,#p_zad3 {
    margin-left: 30%;
    margin-top: 10px;
}

/* dla przycisków */
#splitFile, #calculate, #walidacjaOblicz{
    margin-top: 10px;
}
/* style dla tabelki lewej w zad 3 */
.section-table-2{
    margin-left: 10%;
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
}

.hideText{
    display: none;
}
.classClick{
    cursor: pointer;
}