*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#inputs{
    justify-content: center;
    display: none;
    margin-bottom: 30px;
}

#selectCol1, #selectCol2{
    justify-content: center;
    display: none;
    margin-bottom: 30px;
}

#addPoint{
    justify-content: center;
    display: grid;
    margin-bottom: 30px;
}

input[type="radio"]{
    margin-left: 10px;
}


.pointInputs{
    width: 100px;
}